<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/About-us.css">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Explore Lagos/Experience</title>
</head>
<body>
    <div class="header">
        <div class="left-nav"> 
            <img class="logo" src="../static/Images/logo1.png.png" alt="Logo">
        </div>
        <div class="middle-nav"></div>
        <div class="right-nav">
            <ul>
                <li><a class="ab2" href="Home">Home</a></li>
                <li><a class="ab2" href="AboutUs">About us</a></li>
                <li><a class="ab2" href="SignUp">Sign in/Sign up</a></li>

            </ul>
        </div>
    </div>
    <p class="expereience_Text">About Us</p>
    <hr>
    <div class="centered-div">
        
        <div class="team-section">
        
            <div class="team-member">
              <div class="member-image"></div>
              <h4>Deoye Wilson</h4>
              <p>Backend Developer</p>
              <p></p>
            </div>
            <div class="team-member">
              <div class="member-image"></div>
              <h4>Blessing Sambe </h4>
              <p>Graphic Designer</p>
              <p></p>
            </div>
            <div class="team-member">
              <div class="member-image"></div>
              <h4>Abba Said Uba</h4>
              <p>Front-end Developer</p>
              <p>!</p>
            </div>
            <div class="team-member">
              <div class="member-image"></div>
              <h4>Love Mosaku</h4>
              <p>UI and UX</p>
              <p></p>
            </div>
          </div>
    </div>
    <div class="footer">
        <!--FOOTER LOGO DIV -->
        <div class="footer-left">
            <img class="logo-1" src="../static/Images/logo1.png.png" alt="Logo">
        </div>
        <!--FOOTER CONTACT DIV -->
        <div class="footer-middle">
            <h3>CONTRACTS</h3>
            <P>Phone+234 70321 01664</P>
            <P>Phone+234 70321 01664</P>
            <P>Phone+234 70321 01664</P>
            <P>Phone+234 70321 01664</P>
            <div class="Social"> 
                <img class="sm" src="../static/Images/facebook.png" alt="1">
                <img class="sm" src="../static/Images/twitter.png" alt="1">
                <img class="sm" src="../static/Images/instagram.png" alt="1">
            </div>
            <p style="margin-top: 70px; font-family: Arial, Helvetica, sans-serif; color: rgba(255, 255, 255, 0.181);">© 2023 Captain Tera. All rights reserved.</p>

        </div>
        <!--FOOTER ADDRESS DIV -->
        <div class="footer-right">
            <h3>ADDRESS</h3>
            <P>NO:6 Free Town Street NUTM Apapa Lagos</P>
            <P>NO: 306 Warure quarters Kano</P>
        </div>
    </div>
      